<a href="#" id="scroll-to-top-button">
    <p class="btn btn-outline-primary">回到最上層</p>
</a>

<script>
    // JavaScript 代码用于滚动到页面顶部
    document.getElementById('scroll-to-top-button').addEventListener('click', function () {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });
</script>
